
body, body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 9pt;
  font-weight: 700;
  color: #532f1c;
}

.container {
  position: absolute;
  width: 320px;
  height: 480px;
  top: 0;
  left: 0;
  z-index: 100;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  /*top: 160px;*/
  /*left: 600px;*/
  background-color: #164194;
  background-image: url('bg.jpg');
    background-size: cover;
  border: 1px solid #164194;
}

#blue {
  width: 320px;
  left: 0px;
  top: 340px;
}
#blue2 {
  width: 320px;
  left: 0px;
  top: 480px;
}

img {
  width: 100%;
  height: auto;
}


.el {
  position: absolute;
  /*width: 60px;*/
  left: 0;
  top: 0;
}


#small {
  width: 162px;
  left: -px;
  top: 0px;
}
#plate {
  width:239px;
  left: 33px;
  top: 314px;
}
#sandwich {
  width: 201px;
  left: 58px;
  top: 115px;
  /* transform-origin: right bottom; */
  
}

#sandwich_cont {
  /* width: 400px;
  height: 400px; */
  transform-origin: center center;
  
}
#logo {
  width: 148px;
  left: 86px;
  top: 63px;
}
#label {
  width: 167px;
  left: 77px;
  top: 63px;
}



#header {
  width: 277px;
  left: 22px;
  top: 409px;
}

#txt01 {
  width: 143px;
  left: 162px;
  top: 120px;
}
#txt02 {
  width: 141px;
  left: 162px;
  top: 172px;
}
#txt03 {
  width: 116px;
  left: 55px;
  top: 264px;
}
#txt04 {
  width: 150px;
  left: 20px;
  top: 298px;
}
#txt05 {
  width: 100px;
  left: 163px;
  top:388px;
}
#txt06 {
  width: 125px;
  left: 163px;
  top:423px;
}


#pack_grun {
  width: 61px;
  left: 58px;
  top: 110px;
}

#pack_bath {
  width: 101px;
  left: 52px;
  top: 130px;
}

#pack_sheet {
  width: 64px;
  left: 4px;
  top: 140px;
}

#pack_oval {
  width: 100px;
  left: -2px;
  top: 177px;
}

#receipt {
  width: 125px;
  left: 182px;
  top: 238px;
}

#prizes {
  width: 140px;
  left: 10px;
  top: 362px;
}

#second {
  top: -15px;
}


#schirm {
  width: 320px;
  height: 480px;
  top: 0;
  left: 0;
  background-color: #164194;
  opacity: 0;
}