
body, body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 9pt;
  font-weight: 700;
  color: #532f1c;
}

.container {
  position: absolute;
  width: 320px;
  height: 50px;
  top: 0;
  left: 0;
  z-index: 100;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  /*top: 160px;*/
  /*left: 600px;*/
  background-color: #164194;
  background-image: url('bg.jpg');
  background-size: cover;
  border: 1px solid #164194;
}



img {
  width: 100%;
  height: auto;
}


.el {
  position: absolute;
  /*width: 60px;*/
  left: 0;
  top: 0;
}

#blue {
  width: 379px;
  left: 118px;
  top:0px;
}
#blue2 {
  width: 379px;
  left: 340px;
  top: 0px;
}
#small {
  width: 77px;
  left: 0px;
  top: 0px;
}
#plate {
  width: 51px;
  left: 53px;
  top: 39px;
}
#sandwich {
  width: 44px;
  left: 59px;
  top: -4px;
  /* transform-origin: right bottom; */
  
}

#logo {
  width: 50px;
  left: 263px;
  top: 7px;
}
#label {
  width: 64px;
  left: 99px;
  top: -2px;
}



#header {
  width: 83px;
  left: 167px;
  top: 5px;
}

#txt01 {
  width: 47px;
  left: 161px;
  top: 8px;
}
#txt02 {
  width: 91px;
  left: 161px;
  top: 23px;
}
#txt03 {
  width: 108px;
  left: 77px;
  top: 13px;
}
#txt04 {
  width: 72px;
  left: 113px;
  top: 25px;
}
#txt05 {
  width: 101px;
  left: 151px;
  top: 6px;
}
#txt06 {
  width: 90px;
  left: 151px;
  top: 24px;
}


#pack_grun {
  width: 33px;
  left: 102px;
  top: 2px;
}

#pack_bath {
  width: 55px;
  left: 101px;
  top: 9px;
}

#pack_sheet {
  width: 36px;
  left: 71px;
  top: 13px;
}

#pack_oval {
  width: 54px;
  left: 72px;
  top: 28px;
}

#receipt {
  width: 57px;
  left: 190px;
  top: 2px;
}

#prizes {
  width: 80px;
  left: 70px;
  top: 2px;
}




#schirm {
  width: 320px;
  height: 50px;
  top: 0;
  left: 0;
  background-color: #164194;
  opacity: 0;
}