
body, body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 9pt;
  font-weight: 700;
  color: #532f1c;
}

.container {
  position: absolute;
  width: 300px;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 100;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  /*top: 160px;*/
  /*left: 600px;*/
  background-color: #164194;
  background-image: url('bg.jpg');
  background-size: cover;
  border: 1px solid #164194;
}



img {
  width: 100%;
  height: auto;
}


.el {
  position: absolute;
  /*width: 60px;*/
  left: 0;
  top: 0;
}

#blue {
  width: 350px;
  left: 100px;
  top:0px;
}
#blue2 {
  width: 350px;
  left: 340px;
  top: 0px;
}
#small {
  width: 90px;
  left: 213px;
  top: 3px;
}
#plate {
  width: 92px;
  left: -3px;
  top: 76px;
}
#sandwich {
  width: 76px;
  left: 9px;
  top: 2px;
  /* transform-origin: right bottom; */
  
}

#logo {
  width: 56px;
  left: 162px;
  top: 8px;
}
#label {
  width: 112px;
  left: 52px;
  top: 2px;
}



#header {
  width: 144px;
  left: 144px;
  top: 58px;
}

#txt01 {
  width: 66px;
  left: 162px;
  top: 28px;
}
#txt02 {
  width: 127px;
  left: 162px;
  top: 50px;
}
#txt03 {
  width: 177px;
  left: -3px;
  top: 31px;
}
#txt04 {
  width: 160px;
  left: 15px;
  top: 58px;
}
#txt05 {
  width: 159px;
  left: 127px;
  top: 49px;
}
#txt06 {
  width: 159px;
  left: 127px;
  top: 74px;
}


#pack_grun {
  width: 57px;
  left: 65px;
  top: 6px;
}

#pack_bath {
  width: 95px;
  left: 61px;
  top: 22px;
}

#pack_sheet {
  width: 60px;
  left: 5px;
  top: 25px;
}

#pack_oval {
  width: 94px;
  left: -4px;
  top: 51px;
}

#receipt {
  width: 104px;
  left: 183px;
  top: 9px;
}

#prizes {
  width: 111px;
  left: 6px;
  top: 8px;
}

#small2 {
  width: 92px;
  left: 170px;
  top: 3px;
}
#logo2 {
  width: 48px;
  left: 125px;
  top: 10px;
}


#schirm {
  width: 300px;
  height: 100px;
  top: 0;
  left: 0;
  background-color: #164194;
  opacity: 0;
}